<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add A Puppy!</title>
  </head>
  <body>
    <form class="" action="/display_puppy" method="post">
      <p>Name: <input type="text" name="name" value=""></p>
      <p>Breed: <input type="text" name="breed" value=""></p>
      <p>Age: <input type="text" name="age" value=""></p>
      <p><button type="submit" name="">submit</button>
      <!-- <p><input type="submit" name="name" value="">submit</p> -->

    </form>
  </body>
</html>
