<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Puppy!</title>
  </head>
  <body>
    <p>Puppy Name: <%= @results.name %></p>
    <p>Puppy Age: <%= @results.age %></p>
    <p>Puppy Breed: <%= @results.breed %></p>
  </body>
</html>
